<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}?sortOption=${sortOption}&page=${paging.number}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

    <!-- 목록 버튼 추가 -->
    <div class="mb-3">
        <button class="btn btn-secondary" id="backToListButton">목록으로</button>
    </div>

    <!-- 답변 페이징 추가된 부분 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 정렬 옵션 -->
    <div class="row my-3">
        <div class="col-12">
            <select id="sortOption" class="form-select" aria-label="정렬 옵션" style="width: auto;">
                <option value="newest" th:selected="${sortOption == 'newest'}">최신순</option>
                <option value="oldest" th:selected="${sortOption == 'oldest'}">오래된순</option>
                <option value="recommend" th:selected="${sortOption == 'recommend'}">추천순</option>
            </select>
        </div>
    </div>

    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${paging.content}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/answer/vote/${answer.id}?sortOption=${sortOption}&page=${paging.number}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
            </div>

        </div>
    </div>
    <!-- 답변 반복 끝  -->

    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>

    <form id="searchForm" th:action="@{/question/detail/{id}(id=${question.id})}" method="get">
        <input type="hidden" id="page" name="page" th:value="${paging.number}" />
        <input type="hidden" id="sortOption" name="sortOption" th:value="${sortOption != null ? sortOption : 'newest'}" />
    </form>
</div>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    const recommendElements = document.getElementsByClassName("recommend");
    Array.from(recommendElements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 추천하시겠습니까?")) {
                const uri = this.dataset.uri;
                const targetId = this.closest('.card').querySelector('a').id;
                fetch(uri)
                    .then(() => {
                        location.hash = `#${targetId}`;
                        location.reload();
                    });
            }
        });
    });

    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });


    const sortOptionElement = document.getElementById("sortOption");
    sortOptionElement.addEventListener('change', function () {
        const form = document.getElementById('searchForm');
        form.querySelector('#sortOption').value = this.value; // 새로운 값 반영
        form.submit(); // 폼 제출
    });

    //목록
    const backToListButton = document.getElementById("backToListButton");
    backToListButton.addEventListener("click", function () {
        const searchForm = document.getElementById("searchForm");

        // 현재 페이지 번호 가져오기 (예: ?page=3 형태)
        const urlParams = new URLSearchParams(window.location.search);
        const currentPage = urlParams.get('page') || 1; // 페이지 번호가 없으면 1로 설정
        const currentSortOption = urlParams.get('sortOption') || 'newest'; // 정렬 옵션이 없으면 기본값 'newest'

        // 목록 페이지 URL에 page와 sortOption 파라미터 추가
        searchForm.setAttribute("action", `/question/list?page=${currentPage}&sortOption=${currentSortOption}`);
        searchForm.submit();  // 폼 제출
    });

</script>
</html>
